body {
    background-color: #F2EFE9;
    color: #44361B;
    text-align: center;
    font-family: turnip, serif;
}

section{
    height: 96vh;
    max-height: 96vh;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}


#master-div {
    height: 100%;
    position: relative;
    align-content: center;
    display: grid;
    grid-template-rows: 50% 20% 30%;
    width: 80%;
    max-width: 80%;
}

#color-div{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 2vw;
    height: 6vh;
    padding-top: 100px;
    padding-bottom: 150px;

}

.color-box{
    cursor: pointer; 
    border-radius: 1px;
}


.headline{
    font-size: 200px;
    margin-top: 120px;
    font-family: degular-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: -20px;
}

#intro-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 60vw;
    max-width: 60vw;
    /* margin-top: 5px; */
    padding: 80px 0 80px 0;
    margin-left: auto;
    margin-right: auto;
}

h1{
   /* width: 60vw; */
    font-size: 5vh;
    margin: 10px 0 30px 0;
}
    
h2{
    font-size: 65px;
    text-transform: lowercase;
    font-family: turnip,serif;
    font-weight: 200;
    font-style: italic;
    margin-top: 5px;
}

#logo-div{
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 80px 0 80px 0;
    
}

#km-logo{
    text-transform: uppercase;
    font-size: 36px;
}



#col1{
    background-color: #446DF6;
}

#col2{
    background-color: #dd6e8b;
}

#col3 {
    background-color: #ddc933;
}

#col4 {
    background-color: #f37463;
}
#col5 {
    background-color: #1C7C54;
}

a{
    text-decoration: none;
    color: inherit;
}

#km-logo:hover{
   /* text-decoration: underline; */
    transition: 0.2s ease-in-out;
    color: #FF3A20;
    font-size: 38px;
}

@media screen and (max-width: 2100px) {

    .headline {
        font-size: 9vw;
    }
    h2 {
        margin-top: 2vh;
        font-size: 3vw;
    }
}

@media screen and (max-width: 1000px) {
   /* h2{
        margin-top: 15px;
    } */
   #km-logo{
        font-size: 3.8vw;
   }

   #km-logo:hover{
        font-size: 3.9vw;
 }
}
 /*
@media screen and (max-width: 500px) {
    body {
        background-color: gray; 
    }
   
}
*/

@media screen and (max-height: 800px) and (max-width: 1000px) {

    h2 {
        margin-top: 15px;
    }
}

@media screen and (max-height: 500px){
    /* change boxes to top and bottom */
    #grid-container {
        display: none;
    }
    #logo-div {
        display: none;
    }
}